.logo{
    width: 300px;
    margin-left: 20px;
    padding: 0;
    border-radius: 10px;
}
body{
    background-color: rgb(233, 232, 232);
}

.nav-text{
    display: flex;
    align-items: center;
}

.tarjeta{
    margin-top: 10px;
}
.sticky{
    background-color: rgb(107, 83, 149);
    padding: 18px 0;
}

.boot{
    width: 200px;
}

.sql{
    width: 200px;
}